* {
    margin: 0;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

hr {
    background: #2C4058;
    width: 100px;
    margin: 0 auto;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 44px;
    color: #2C4058;
    text-align: center;
    margin: 30px 0 80px 0;
}

.one {
    height: 450px;
}

.one img {
    width: 100%;
    height: 100%;
}

.three,
.two {
    height: 210px;
}

.three img,
.two img {
    width: 100%;
    height: 100%;
}

.imgbutton{
    margin-bottom: 26px;
}

.button {
    text-align: center;
    margin-top: 114px;
    margin-bottom: 100px;
}

.button input{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    border: 0;
    background: none;
    outline: none;
    border: 1px solid #2C4058;
    padding: 17px 61px;
    cursor: pointer;
    color: #2C4058;
}

.button input:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background: #2C4058;
}


/* hard */


.text {
    position: absolute;
    padding-top: 415px;
    padding-left: 30px;
    text-transform: uppercase;
}

.text h6 {
    color: #818181;
    font-weight: 300;
    font-size: 12px;
}

.text h1 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.photo {
    height: 540px;
}

.photo img {
    height: 100%; 
    width: 100%;
}

/* .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.31%, #000000 100%);
} */

.testalign {
    height: 251px;
}

.testalign img {
    width: 100%;
    height: 100%;
}

.text1{
    margin: 20px;  
    text-transform: uppercase;
}

.text1 h6 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #818181;

}

.text1 p {
    font-weight: bold;
    font-size: 22px;
    color: #1D1D1D;
    margin-bottom: 94px;
}

.text1 img {
    border-radius: 111px;
    margin-bottom: 10px;
}

.imgofftop {
    margin-top: 30px;
    height: 251px;
}

.imgofftop img {
    width: 100%;
    height: 100%;
}

.text2 {
    text-transform: uppercase;
    margin: 20px;
}

.text2 h6 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #818181;

}

.text2 p {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #1D1D1D;
    margin-bottom: 94px;
}

.lox{
    border: 2px solid white;
    border-radius: 111px;
    margin-bottom: 10px;
}

.border:hover .lox {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border {
    background: white;
}

.border:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background: #2C4058;
    cursor: pointer;
}

.border:hover h6,
.border:hover p{
    color: white;
}
